# Created by .ignore support plugin (hsz.mobi)
/.cproject
/.project
/build.*/
/.pydevproject
/.cache/
*.so
*.py[cod]
/.idea
/.DS_Store
*.egg-info
*.egg
/build
/scw_list_files
develop-eggs
/dist
/eggs
lib
lib64
/.svn
/run_tests
/diagrams
.mypy_cache
*.gpg
tmp_*
data/default-cache
scratch_sid_*
temp_sid_*
reduced
log
data_*json
emax-last
jdata.json
.vscode/settings.json
/venv
/tests/.mmoda-pg-token
/tests/isgri_query_mosaic.fits
/tests/query_catalog.fits
/tests/data/dummy_prods/isgri_query_mosaic.fits
/tests/data/dummy_prods/query_catalog.fits
/tests/data/dummy_prods/ds9.jpeg
/tests/local_smtp_log
/tests/test-dispatcher-conf-with-gallery.yaml
/tests/test-dispatcher-conf-with-renku-options.yaml
/tests/test-dispatcher-conf-with-hard-minimum-age-days-param.yaml
/tests/test-dispatcher-conf-with-hard_minimum_folder_age_days-param.yaml
.coverage.*
.coverage
*,cover
cdci_data_analysis/config_dir/conf_env.yml
js9
src
p_list_files
debug_email*
p_value_simple_files
DataServerQuery-status.state
adapted_reference.html
catalog_simple_files
content.txt
local_smtp_log
tests/to_review_emails/
to_review_email.html
email.text
data/dummy_prods**
.vscode
.venv
js9.fits
test-dispatcher-conf-with-gallery.yaml
