# Created by .ignore support plugin (hsz.mobi)
/.cproject
/.project
/build.*/
/.pydevproject
/.cache/
*.so
*.py[cod]
/.idea
/.DS_Store
*.egg-info
*.egg
/build
develop-eggs
/dist
/eggs
lib
lib64
/.svn
/.idea
/run_tests
/diagrams
.mypy_cache
*.gpg
tmp_*
data/default-cache
scratch_sid_*
reduced
log
data_*json
emax-last
jdata.json
.vscode/settings.json
