repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.8.13
    hooks:
      - id: uv-lock
      - id: uv-export
        name: uv-export with dev, all extras
        args: ["--no-hashes", "--all-extras", "-o", "requirements-dev.txt"]
      - id: uv-export
        name: uv-export no dev, all extras
        args: ["--no-hashes", "--all-extras", "--no-dev", "-o", "requirements.txt"]