repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.8.22
    hooks:
      - id: uv-lock
      - id: uv-export
        name: uv-export dev environment
        args: ["--no-hashes", "--all-extras", "--group", "plugins", "-o", "requirements-dev.txt"]
