# example configuration, please adapt!

dispatcher:
    dummy_cache: dummy-cache

    # base for persistent urls for resulting product, should coincide with ingress for frontend
    # necessary 
    products_url: https://www.astro.unige.ch/cdci/astrooda_ 

    # base to build up the callback url for the various back-end to call-back the dispatcher
    # might be also not known and in that case the bind options will be used
    dispatcher_callback_url_base: http://localhost:8001

    # register on sentry.io and  put here url for reporting issues!
    # optional, but should be enforcable in "strict" mode
    sentry_url:
    sentry_environment: production

    # can be ignored, install your own (https://www.elastic.co/logstash) or use external https://logz.io/
    # optional, but may be be enforcable in "strict" mode
    logstash_host: 
    logstash_port: 
    
    # used for token validation
    secret_key:  YOUR_VERY_OWN_SECRET_KEY

    # used when scratch folders needs to be deleted
    soft_minimum_folder_age_days:
    hard_minimum_folder_age_days:

    # maximum interval allowed during token refreshing
    token_max_refresh_interval: 604800

    # timeout to re-submit the request
    resubmit_timeout: 900

    # where the dispatcher binds, will be used for the flask app at start-up
    # host and port are well distinguished for clarity
    # necessary
    bind_options:
        bind_host: 0.0.0.0
        bind_port: 8001

    # e-mail related configurations: a user might want to receive an eamil with an update of the status of the request in
    # some cases (e.g. the request has failed)
    email_options:
        # the smtp server to use in order to actually send the email
        smtp_server: 'localhost'
        smtp_port: 1025
        smtp_server_password: SMTP_SERVER_PASSWORD
        # address from which the email should be sent from
        sender_email_address: 'team@odahub.io'
        # contact email address for "contact us" link
        contact_email_address: 'contact@odahub.io'
        # site name
        site_name: 'University of Geneva'
        # manual reference
        manual_reference: 'possibly-non-site-specific-link'
        # list of address to be put in cc
        cc_receivers_email_addresses: [ 'team@odahub.io' ]
        # list of address to be put in bcc
        bcc_receivers_email_addresses: ['teamBcc@odahub.io']
        # enable the sending of an email when a request is ''done'', and this took long to complete
        email_sending_timeout: True
        # amount of time (in seconds) elapsed from the issuing of the request,
        # that will trigger the email when the request is complete, if this time is exceeded
        email_sending_timeout_default_threshold: 1800
        # sending of an email when a request has been submitted
        #options related to the of emails for reporting incidents
        incident_report_email_options:
            incident_report_sender_email_address: 'team@odahub.io'
            incident_report_receivers_email_addresses: ['team@odahub.io']
        email_sending_job_submitted: True
        # amount of time (in seconds) elapsed from the sending of the last email
        # for when a request has been submitted
        email_sending_job_submitted_default_interval: 5
        # enable the sending of a sentry message in case a not valid condition for the sending an email is met
        sentry_for_email_sending_check: False

    # matrix related configurations: a user might want to receive a message on his matrix personal room, or another room he chooses
    matrix_options:
        # matrix server url
        matrix_server_url: MATRIX_SERVER_URL
        # access token of the sender account, from which the messages will be sent from
        matrix_sender_access_token: MATRIX_SENDER_ACCESS_TOKEN
        # list of additional room ids receivers towards which the message will be sent, besides the room id extracted from the token
        matrix_bcc_receivers_room_ids: ['room_id']
        # incident report related options, for the messages sent via matrix
        incident_report_matrix_options:
            # list of room ids receivers towards which the incident report message will be sent
            matrix_incident_report_receivers_room_ids: ['room_id']
            # personal access token of the sender of the incident report
            matrix_incident_report_sender_personal_access_token: MATRIX_INCIDENT_REPORT_SENDER_ACCESS_TOKEN
        # list of room ids to which the matrix message should be sent
        matrix_cc_receivers_room_id: []
        # enable/disable sending of messages via matrix in case of a submitted job status
        matrix_message_sending_job_submitted: True
        # amount of time (in seconds) elapsed from the sending of the last message on matrix
        # for when a request has been submitted
        matrix_message_sending_job_submitted_default_interval: 5
        # enable the sending of a sentry message in case a not valid condition for the sending a message on matrix is met
        sentry_for_matrix_message_sending_check: False
        # amount of time (in seconds) elapsed from the issuing of the request,
        # that will trigger the sending of a message via matrix when the request is complete, if this time is exceeded
        matrix_message_sending_timeout_default_threshold: 1800
        # enable the sending of a message via matrix when a request is ''done'', and this took long to complete
        matrix_message_sending_timeout: True

    # product gallery related set of options
    # in case no integration with the product gallery is provided, these options will be ignored
    product_gallery_options:
        # url of the product gallery home
        product_gallery_url: PRODUCT_GALLERY_URL
        # location of the secret key used for generating tokens
        product_gallery_secret_key: PRODUCT_GALLERY_SECRET_KEY
        # timezone used within the drupal configuration, these two values have to be always aligned
        product_gallery_timezone: PRODUCT_GALLERY_SECRET_KEY
        # url of the local name resolver
        local_name_resolver_url: NAME_RESOLVER_URL
        # url of the external name resolver
        external_name_resolver_url: NAME_RESOLVER_URL
        # url of the online catalog for astrophysical entities
        entities_portal_url: ENTITIES_PORTAL_URL
        # url for the conversion of a given time, in UTC format, to the correspondent REVNUM
        converttime_revnum_service_url: COVERTTIME_REVNUM_SERVICE_URL


