<!DOCTYPE html>
<html lang="en">

<head>
    <title>[ODA][{{request.status}}] {{request.product_type}} first requested at {{ request.time_request | timestamp2isot }} job_id: {{request.job_id[:8]}}</title>
</head>

<body>
Dear User,<br>
<br>
you receive this message because at {{ request.time_request | timestamp2isot }} ( {{ request.time_request | humanize_age  }} ago ) you submitted a request <br>
for a {{ request.product_type }} from the service provided by {{ oda_site.site_name }}<br>
available at the URL {{ oda_site.frontend_url }}.<br>
<br>
{% if request.status == "submitted" %}
Once products will be ready, you will receive a new email.<br>
{% elif request.status == "done" %}
Your request is now <b>ready</b>.<br>
{% elif request.status == "failed" %}
Your request has <b>failed<b>. Sorry for that! You will be further contacted by our team.<br>
{% endif %}
<br>
You can inspect the status of your job using the following <br>
<a href="{{ request.request_url }}">url</a> or repeating the request 
(either with frontend or with the python API query at the end of this message.).<br>
<br>
In case you have questions or issues you can contact us at <a href="mailto:{{ oda_site.contact }}">this email</a>.<br>
<br>
Kind regards,<br>
<br>
The ODA team.<br>
<br>
<br>
Python API code:<br>
<br>
<div style="background-color: lightgray; display: inline-block; padding: 5px;">
{{ request.api_code }}
</div>
<br>
<br>
Note that this code contains your private token. Be careful how you share it!<br>
This token is short-lived, and will expire in {{ request.decoded_token.exp | humanize_future }}.<br>
To learn how to get a new token, please refer to <a href="{{ oda_site.manual_reference }}">these instructions</a>.<br>
<br>


</body>
</html>

