<!DOCTYPE html>
<html lang="en">

<head>
    <title>[ODA][Report] Incident at {{ request.incident_time | timestamp2isot }} job_id: {{request.job_id}}</title>
</head>

<body>


<div style=3D"font-weight:300;display:none;font-size:0;max-height:0;line-height:0;padding:0;margin:30px">
    A new incident has been reported to the dispatcher. More information can ben found below.
</div>

<div style="font-weight:300;margin-bottom:30px">
    <h3>Execution details</h3>
    <ul>
        <li><div style="font-weight:300;"><span style="font-weight: bold;">Incident time</span>: {{ request.incident_time | timestamp2isot }}</div></li>
        <li><div style="font-weight:300;"><span style="font-weight: bold;">job_id</span>: {{ request.job_id }}</div></li>
        <li><div style="font-weight:300;"><span style="font-weight: bold;">session_id</span>: {{ request.session_id }}</div></li>
    </ul>
</div>


<div>
    <h3>Incident details</h3>

    <div style="background-color: lightgray; display: inline-block; padding: 5px;">{{content}}</div>
</div>

</body>
</html>

