# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test oda_api

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "*" ]
    types:
    - labeled
    - opened
    - synchronize
    - reopened


jobs:
  build:
    if: contains( github.event.pull_request.labels.*.name, 'test-oda-api')

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}


    - name: Clone oda_api
      uses: actions/checkout@v2
      with:
        repository: 'oda-hub/oda_api'
        path: oda_api


    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip flake8 pytest mypy pylint pytest-cov wheel
        
        if [ -f oda_api/requirements.txt ]; then 
          < oda_api/requirements.txt grep -v oda-hub/dispatcher-app | grep -v cdci-data-analysis | grep -v oda_api > req.txt
          pip install -r req.txt ./oda_api[test] .[test]; 
        fi        
        
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install -e .[test]
        pip install oda-knowledge-base[rdf,cwl,service] # todo
    
    - name: Test oda_api with pytest
      run: |
        cd oda_api && DISPATCHER_MOCK_KB=yes python -m pytest tests -m 'not slow and not test_drupal' -sv --full-trace --log-cli-level=DEBUG 
    
